NEXT_PUBLIC_API_URL=http://localhost:3000/api/

PINATA_API_KEY=42268099298075821afa
PINATA_SECRET_KEY=4d623858946f238ff95c8c816e2abe1c47ce91623d1d90e88e0a9fc1eb1f8eae
PINATA_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIxZGQ5YmZlOS01ODk2LTRjMzYtYTI1MC0wY2FjYTdiMmU4MzUiLCJlbWFpbCI6ImxlcXV5aGlldTEwMjRAZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6IjQyMjY4MDk5Mjk4MDc1ODIxYWZhIiwic2NvcGVkS2V5U2VjcmV0IjoiNGQ2MjM4NTg5NDZmMjM4ZmY5NWM4YzgxNmUyYWJlMWM0N2NlOTE2MjNkMWQ5MGU4OGUwYTlmYzFlYjFmOGVhZSIsImV4cCI6MTc3MDk0MjM4NX0.xSMtoBrbGSIXV2AN_p07L4PkPjSrkLKABSMhjsGLRJk
NEXT_PUBLIC_GATEWAY_URL=blush-secure-parrot-598.mypinata.cloud

DATABASE_PORT=3306
DATABASE_NAME=shop-acc-game
DB_USERNAME=root
DB_PASSWORD=

PARTNER_ID_SUPPER_CHEAP_CARD=51155358091
PARTNER_KEY_SUPPER_CHEAP_CARD=4f33180c5145935ae0e34087fb778c5f
URL_API_SUPPER_CHEAP_CARD=https://thesieure.com/chargingws/v2